body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: auto;
}
.blockApp {
  display: inline-flex;
  gap: 100px;
  @include laptop-l {
    gap: 50px;
  }
  @include laptop-2 {
    gap: 25px;
  }
}